configuration {
    modi: "run";
    show-icons: false;
    terminal: "kitty";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-run: "   Run ";
    matching: "fuzzy";
    steal-focus: true;
}

@theme "catppuccin-mocha"

